httpx ~= 0.23.0
# only telegram.ext: # Keep this line here; used in setup(-raw).py
python-telegram-bot==20.0a4
pyrofork

# tornado is rather stable, but let's not allow the next mayor release without prior testing
tornado~=6.2
requests~=2.28.1
requests-html
bs4~=0.0.1
# Cachetools and APS don't have a strict stability policy.
# Let's be cautious for now.
cachetools~=5.2.0
APScheduler~=3.9.1

# pytz is required by APS and just needs the lower bound due to #2120
pytz>=2018.6
beautifulsoup4~=4.11.1
aiohttp
